<div class="page">
  <div class="form-inline">
    <div class="form-group mb-2">
      <input
        type="text"
        class="form-control mb-2"
        placeholder="Busque por um evento"
        [(ngModel)]="filtroLista"/>

    </div>
  </div>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Vehicle</th>
        <th scope="col">Crew</th>
        <th scope="col">Class</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of filteredVehicles">
        <td>
          <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightVehicles"
          aria-controls="offcanvasRight" (click)="getVehicleByUrl(vehicle.url)">Show Info</button>
        </td>
        <td>{{ vehicle.name }}</td>
        <td>{{ vehicle.crew }}</td>
        <td>{{ vehicle.vehicle_class }}</td>
      </tr>
    </tbody>
  </table>

<app-modal></app-modal>
<div class="paginator">
  <ul class="pagination">
    <li class="page-item" (click)="changePage(previous_page)"><a class="page-link" >Anterior</a></li>
    <li class="page-item" (click)="changePage(next_page)"><a class="page-link" >Próximo</a></li>
  </ul>
</div>
</div>
