<div class="menu-page">
  <div class="container">
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" (click) = "setInfo(4)" >
          <img src="assets/star-wars-1.jpg" alt="assets/star-wars-1">
        </button>
      </div>
      <div class="col">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" (click) = "setInfo(5)" >
            <img src="assets/star-wars-2.jpg" alt="assets/star-wars-2">
        </button>
      </div>
      <div class="col">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" (click) = "setInfo(6)">
            <img src="assets/star-wars-3.jpg" alt="assets/star-wars-3">
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" (click) = "setInfo(1)">
            <img src="assets/star-wars-4.jpg" alt="assets/star-wars-4">
        </button>
      </div>
      <div class="col">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" (click) = "setInfo(2)">
            <img src="assets/star-wars-5.jpg" alt="assets/star-wars-5">
        </button>
      </div>
      <div class="col">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" (click) = "setInfo(3)">
            <img src="assets/star-wars-6.jpg" alt="assets/star-wars-6">
        </button>
      </div>
    </div>
  </div>
  <app-modal title="{{title}}" body="{{body}}"></app-modal>
</div>
