.offcanvas{
  background-color: #212529;
  width: 1000px;
  color: white;

}

h2{
  font-size: 50px;
  border-color: yellow;
}
.offcanvas-subtitle{
  padding-left: 16px;
  width: 1000px;
}
.justify-content-center{
  padding-top: 50%;
}

.offcanvas-header{
  padding-left: 5%;
}

#offcanvasRightFilms{
  overflow: scroll;
}

